## 1. Data in Python Request

* Read in data from the Excel spreadsheet (Alarm Survey Data.xlsx) and put into a Pandas DataFrame
* Check the data type of each column
* Convert object columns into numeric or datetime columns, as needed

In [23]:
import pandas as pd
alarm_survey = pd.read_excel('Alarm Survey Data.xlsx')
alarm_survey

,survey_id,age,number_of_children,activity_level,sleep_quality,number_of_snoozes,alarm_rating
0,1,34,3.0,active,3.0,1,5 stars
1,2,31,3.0,light,3.0,3,3 stars
2,3,18,0.0,light_activity,4.0,1,1 stars
3,4,42,4.0,active,4.0,1,4 stars
4,5,30,1.0,light_activity,1.0,4,3 stars
...,...,...,...,...,...,...,...
6428,6362,27,2.0,active,5.0,0,5 stars
6429,6363,31,1.0,light,4.0,0,4 stars
6430,6364,26,0.0,lightly active,5.0,0,3 stars
6431,6365,27,1.0,active,5.0,0,3 stars
6432,6366,18,0.0,lightly active,4.0,0,1 stars

In [2]:
alarm_survey.dtypes

survey_id               int64
age                     int64
number_of_children    float64
activity_level         object
sleep_quality         float64
number_of_snoozes       int64
alarm_rating           object
dtype: object

In [26]:
# Converting Data Types (i.e. alarm_rating column)
alarm_survey.alarm_rating = pd.to_numeric(alarm_survey.alarm_rating.astype('str').str.replace('stars', ''))
alarm_survey.alarm_rating

0       5
1       3
2       1
3       4
4       3
       ..
6428    5
6429    4
6430    3
6431    3
6432    1
Name: alarm_rating, Length: 6433, dtype: int64